* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:var(--primary-font);
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
img{
    max-width: 100%;
    vertical-align: bottom;
}
button,input,textarea{
    outline: none;
    border: none;
    background: transparent;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.btn{
    font-size:clamp(14px,5vw,17px);
    font-weight: 400;
    color: var( --txt-secondary-color);
    padding: clamp(12px,5vw,20px) ;
    border: 1px solid rgba(221, 221, 221, 1) ;
    border-radius: 6px;
    max-width: fit-content;
   transition: 0.4s;
   
}

.btn:hover{
    background: var( --primary-color);
    color:var(--btn-primary-color);
}

.title{
   font-size:clamp(25px,5vw,50px) ; 
   color: var( --primary-color);
   line-height:clamp(30px,5vw,55px);
}
.text{
    font-size: 18px;
    color: var( --txt-primary-color);
}

.spanbox{
    color: var(--primary-color);
}