.fresh{
    position: relative;
    min-height: 840px;
  }
  
  .fresh__imgbg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.fresh > .container{
    padding: 80px 15px;
   display: flex;
   gap: 72px;
   
   @media(width < 1024px){
    flex-wrap: wrap;
    padding: 40px 15px;
   }
   
}

.fresh__box{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 29px;
    padding: 151px 15px 136px;
    
    @media(width < 1024px){
        padding: 40px 15px;
       }
}

.fresh__box2{
    width: 100%;
}
.fresh__box-title{
    max-width: 374px;
}
.fresh__box-txt{
    max-width: 578px;
    line-height: 27px;
}
.fresh__btn{
    padding-top: 18px;
}