.nav{
    position: sticky;
    z-index: 101;
    width: 100%;
    
    
}
.nav > .container{
    display: flex;
    justify-content: space-between;
    padding: 22px 15px;
    align-items: center;
   
}

.nav__box{
    display: flex;
    gap: 14px;
}
.nav__list{
    display: flex;
    
    @media(width < 768px){
        flex-direction: column;
    }
}

.nav__link{
    display: inline-block;
    padding: 20px;
    color: var(--title-primary-color);
    transition: 0.4s;
    font-size:15px ;
    font-weight: 400;
    
    @media(width < 768px){
        font-size:22px ;
    }
}
.nav__link:hover{
    color: var( --primary-color);
   transform: translateY(3px);
}
.nav__box-korz{
    display: flex;
    position: relative;
    
}
.nav__box-btn{
    background: var(--primary-color);
    padding: 19px 17px;
    border-radius: 4px;
    transition: 0.4s;
}

.nav__box-btn:hover{
    transform: translateX(3px);
}
.nav__box-txt{
    position: absolute;
    top: -8%;
    right: -7%;
    color: var(--primary-color);
    padding:  4px 8px;
    align-items: center;
    border-radius: 100px;
    background:var(--btn-primary-color) ;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.nav__burger{
    display: none;
    
    @media(width < 768px){
        position: relative;
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        z-index: 200;
        
        &:hover ~ .nav__menu{
            transform: scaleY(1);
        }
        
        .nav__burger-line{
            width: 100%;
            height: 2px;
            background: var(--primary-color);
            position: relative;
            
            &::before,
            &::after{
                content: "";
                position: absolute;
                left: 0;
                background: var(--primary-color);
                width: 100%;
                height: 100%;
            }
            &::before{
                top: 10px;
            }
            &::after{
                top: -10px;  
            }
        }
    }
    
    
}
.nav__menu{
    
    @media(width < 768px){
        position: absolute;
        width: 100%;
        height: calc(100dvh - 81px);
        background:var( --primary-color);
        z-index: 10;
        top: 81px;
        left: 0;
        display: grid;
        place-items: center;
        transform-origin: top;
        transform: scaleY(0);
        transition: 0.4s;
        z-index: 101;
    }
}