.orders{
    background: #fff;
}

.orders > .container{
    padding: 120px 0;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(600px, 1fr)) ;
}

.orders__box2{
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding: 151px 0 136px;
}


.fresh__box-title{
    max-width: 529px;
}
.fresh__box-txt{
    max-width: 578px;
    line-height: 27px;
}
.fresh__btn{
    padding-top: 18px;
}