.orders{
    background: #fff;
}

.orders > .container{
    padding: 120px 15px;
    display: flex;
    gap: 44px;
    
    @media(width < 1024px){
        flex-wrap: wrap;
        padding: 50px 15px;
       }
}
.orders__box{
    width: 100%;
}
.orders__box2{
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding: 151px 15px 136px;
    width: 100%;
    
    @media(width < 1024px){
        padding: 50px 15px;
       }
}


.fresh__box-title{
    max-width: 529px;
}
.fresh__box-txt{
    max-width: 578px;
    line-height: 27px;
}
.fresh__btn{
    padding-top: 18px;
}