.store{
    position: relative;
}

  .store__imgbg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.store > .container{
    padding: 100px 15px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(600px, 1fr)) ;
}

.store__box{
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding: 151px 15px 136px;
    width: 100%;
}
.store__box-title{
    max-width: 578px;
    line-height: 55px;
    letter-spacing: 1.65px;
}
.store__box-txt{
    max-width: 578px;
    line-height: 27px;
}
.store__btn{
    padding-top: 18px;
}