.store{
    position: relative;
}

  .store__imgbg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.store > .container{
    padding: 100px 15px;
   display: flex;
   gap: 70px;
   
   @media(width < 1024px){
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 15px;
   }
}

.store__box{
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding: 151px 15px 136px;
    width: 100%;
    
    @media(width < 1024px){
        padding: 50px 15px;
       }
}
.store__box2{
    width: 100%;
}
.store__box-title{
    max-width: 578px;
    line-height:clamp(25px,5vw,55px) ;
    letter-spacing: 1.65px;
}
.store__box-txt{
    max-width: 578px;
    line-height: 27px;
}
.store__btn{
    padding-top: 18px;
}